*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10em;
}
.title{
    font-weight: bold;
    font-size: xx-large;
    align-self: center;
}
.container-title{
    text-align: center;
    font-weight: bold;
    font-size: large;
    margin: 1em 0;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 25em;
}
.container-item{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10%;
    padding: 2em 4em;
}
.list-button{
    padding: 1em 2em;
    background-color: black;
    color: white;
    border-radius: 20px;
    text-align: center;
    margin-left: 3px;
    margin-top: 5px;
}
.list-button:hover{
    background-color: white;
    color: black;
    transition: 0.5s all ease-in-out;
}